*{
  margin: 0px;
  padding: 0px;
}


#background-color-header{
  background: rgb(203,172,212);
  background: linear-gradient(90deg, rgba(203,172,212,1) 0%, rgba(175,192,221,1) 57%, rgba(140,217,232,1) 93%);
}

.Gesammt{
  background: rgb(250,228,252);
  background: linear-gradient(90deg, rgba(250,228,252,1) 0%, rgba(197,237,245,1) 100%);

}

@media screen and (max-width:692px){

  .topnav.responsive {position: relative;}}
  
  @media screen and (max-width: 600px){
    .topnav a:not(:first-child) {display: none;}}


    @media screen and (max-width:768px) {
        .col11{
          display: none;
        }
     }


#Kopfzeile{
    height: 200px;
    text-align: center;
    vertical-align: middle;
}


#Kopfzeile img{
  margin-left: -4%;
  height: 200px;
  width: auto;
}

@media print{

  .gallery{
    display: none;
  }

  .col1{
    display: none;
  }

  .col2{
    display: none;
  }

  .col3{
    display: none;
  }

  .col4{
    display: none;
  }

  .col5{
    display: none;
  }

  .col6{
    display: none;
  }

  .col7{
    display: none;
  }

  .col8{
    display: none;
  }
  .col9{
    display: none;
  }

  .col11{
    display: none;
  }
  .abstand{
    display: none;
  }

  *{
    filter: grayscale(100%)
  }
}

.topnav{
  position: sticky;
  top: 0;
}

ul {
   justify-content: center;
   display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 10px;
  }
  

  li a:hover:not(.active) {
    background-color: lightpink;
  }
  
  .active {
    background-color: powderblue;
  }

  .d-flex{
    float: right;
    height: 50px;
  }


.eingabe{
  float: right;
  height: 50px;
  text-align: center;
  outline: none;
  border: 1px black solid; 
  border-radius: 30px;
  background-color: rgb(219, 154, 224);
}

.suchen{
  background-color: rgb(220, 137, 223);
  width: 60px;
  outline: none;
  border: 1px black solid; 
  border-radius: 30px;
}
 
.suchen:hover{
  background-color: palevioletred;
}

#Überschrift{
    text-align: center;
    vertical-align: middle;
    background-color: darkmagenta;
    outline: none;
    border: 1px black solid; 
    border-radius: 30px;
}

#Überschriftunten{
   text-align: center;
    vertical-align: middle;
    background-color: darkmagenta;
    outline: none;
    border: 1px black solid; 
    border-radius: 30px;
    margin-top: 10px;
}


.col11{
  float: left;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 20px;
  width: 500px;
 }
 div.col11 img{
  border: 1px black solid;
  border-radius: 30px;
}


.col1{
  float: left;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 20px;
  width: 500px;
 }
 div.col1 img{
  border: 1px black solid;
  border-radius: 30px;
}

 .col2{
   margin-top: 10px;
   margin-left: 60px;
   margin-bottom: 20px;
 }
 div.col2 img{
  border: 1px black solid;
  border-radius: 30px;
}

.col3{
  float: left;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 20px;
 }
 div.col3 img{
  border: 1px black solid;
  border-radius: 30px;
}

 .col4{
  float: left;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 20px;
 }
 div.col4 img{
  border: 1px black solid;
  border-radius: 30px;
}

 .col5{
  float: left;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 20px;
 }
 div.col5 img{
  border: 1px black solid;
  border-radius: 30px;
}
 
 .col6{
  float: left;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  width: 260px;
 }

 div.col6 img{
  border: 1px black solid;
  border-radius: 30px;
}

.col7{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 260px;
 }

 div.col7 img{
  border: 1px black solid;
  border-radius: 30px;
}

.col8{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 260px;
 }

 div.col8 img{
  border: 1px black solid;
  border-radius: 30px;
}

.col9{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 260px;
 }

 div.col9 img{
  border: 1px black solid;
  border-radius: 30px;
}

#Hervorkommen:hover{
  transform: scale(2.2);
  transition: .5s;
  cursor: crosshair;
}

.Orte{
  text-align: center;
  text-decoration:   double underline darkmagenta;
  color: darkblue;
  padding-bottom: 10px;
  border-bottom: 3px mediumorchid solid;
}

  div.desc {
    padding: 15px;
    text-align: center;
  } 


  .custom-footer{
    height: auto;
    width: auto;
    margin-top: 20px;
    border-top: 1px black solid;
  }

  .left{
    float: left;
    text-align: center;
    height: auto;
    width: 50%;
  }

  .left button{
    height: 30px;
    width: 120px;
    outline: none;
    background-color: transparent;
    border: 1px black solid; 
    border-radius: 30px;
  }

  .left button:hover{
    background-color: lightblue;
  }

  .left p{
    float: right;
    padding-right: 10px;
  }

  .right{
    float: left;
    height: auto;
    width: 50%;
    text-align: center;
  }

  .copyright{
    margin-top: 100px;
    background-color: powderblue;
    text-align: center;
  }